<!-- form class: "new_family", id: "new_family" -->
<%= form_for @family do |f| %>
  <!-- label for: "family_family_name" -->
  <h3>Create your Family Story: </h3>
  <%= f.label :name, 'Family Name: ' %>
  <!-- name: "family[family_name]" id: "family_family_name" -->
  <%= f.text_field :name %>
  <p>
    <!-- Come up with better examples -->
    (Ex: Ross, Thompson, Two Best Friends)
  </p>

  <!-- Family Type? -->

  <!-- Add API to get location -->
  <!-- Optional, fill in values allowed -->
  <%= f.label :location, 'Where is your family located? ' %>
  <%= f.text_field :location %>

  
<% end %>
