<!-- form class: "new_family", id: "new_family" -->
<%= form_for @family do |f| %>
  <div id="family_name">
    <!-- label for: "family_family_name" -->
    <h3>Create your Family Story: </h3>
    <%= f.label :name, 'Family Name: ' %>
    <!-- name: "family[family_name]" id: "family_family_name" -->
    <%= f.text_field :name %>
    <p>
      <!-- Come up with better examples -->
      (Ex: Ross, Thompson, The Goonies, Milo & Otis)
    </p>
  </div>

  <div id="family_motto">
    <!-- JS - populate family name after it's typed -->
    <%= f.label :motto, 'Family Motto: ' %>
    <%= f.text_field :motto %>
    <p>
      (Ex: Goonies never say die, Never tickle a sleeping dragon)
    </p>
  </div>

  <!-- Family Type? -->

  <div id="family_location">
    <h3>Location</h3>
    <!-- Add API to get location -->
    <!-- Optional, fill in values allowed -->
    <%= f.label :location, 'Where is your family currently located? ' %>
    <%= f.text_field :location %>
    <br />
    <!-- Family origin location -->
    <%= f.label :origin_location, 'Where did your families story begin? ' %>
    <%= f.text_field :origin_location %>
  </div>

  <div id="family_history">
    <h3>History</h3>
    <%= f.label :start_year, 'What year does your family story begin? ' %>
    <%= f.text_field :start_year %>
  </div>
  <!--  -->
<% end %>
